
.icon-vk:before { content: '\e800'; } /* '' */
.icon-flickr:before { content: '\e801'; } /* '' */
.icon-instagram:before { content: '\e802'; } /* '' */
.icon-tumblr:before { content: '\e803'; } /* '' */
.icon-google:before { content: '\e804'; } /* '' */
.icon-pinterest:before { content: '\e805'; } /* '' */
.icon-linkedin:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e807'; } /* '' */
.icon-facebook:before { content: '\e808'; } /* '' */